.hero {
    background-color: seagreen;
    background-size:100vw;
    position:relative;
    height: 50vh;
    padding:0;
    margin:0;
    background: url(https://images.pexels.com/photos/33242/cooking-ingredient-cuisine-kitchen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(233, 182, 72, 0.1);
    text-align: center;
}
 
 h1 {
    position:relative;
    color: whitesmoke;
    font-size: 115px;
    font-weight: 900;
    font-family: 'Martian Mono', monospace;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.searchBar {
    display: inline-block;
    margin: 0 auto;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

button {
    margin: 5px;
}

@media (min-width: 380px) {
    h1 {
        font-size: 80px;
    }
    .heroImage {
        height: 30vh;
    }
}

@media  (min-width: 800px) {
    h1 {
        font-size: 120px;
    }

    .heroImage {
        height: 40vh;
    }
}