div {
   padding: 0;
   margin:0;
}

.image {
   width: 170px; 
}

p {
   font-size: small;
   margin: 1px;
   padding: 0px;
}

a {
   font-size: x-small;
}

.btn {
   font-size: x-small;
}

.businessComponent {
   display:flex;
}

.card {
   display: flex;
   
}

.businessInfo {
   display: inline-flex;
   margin: 0px;
   padding:2px;
   width:35%;
   font-size: x-small;
}

